@charset "utf-8";

@font-face {
	font-family:"Noto Sans KR";
	font-style:normal;
	font-weight:normal;
	src:url("../../w/fonts/NotoSansKR-Regular.woff2") format("woff2"),
		url("../../w/fonts/NotoSansKR-Regular.woff") format("woff"),
		url("../../w/fonts/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
	font-family:"Noto Sans KR";
	font-style:normal;
	font-weight:bold;
	src:url("../../w/fonts/NotoSansKR-Bold.woff2") format("woff2"),
		url("../../w/fonts/NotoSansKR-Bold.woff") format("woff"),
		url("../../w/fonts/NotoSansKR-Bold.otf") format("opentype");
}
