@charset "utf-8";

.info_box .histories{display:block;max-height:80px;overflow-y:auto;}
.tab_contents_wrap table{font-family:"Segoe UI";}
.tab_contents_wrap table td{padding:3px 4px;}
.tab_contents_wrap table td.num,
.tab_contents_wrap table td.rdate{text-align:center;padding-left:2px;padding-right:2px;}
.tab_contents_wrap table td.num,
.tab_contents_wrap table td.path a,
.tab_contents_wrap table td.rdate{font-family:Consolas;}
.tab_contents_wrap table td.path a{font-weight:bold;text-decoration:none;}
.tab_contents_wrap table td.rdate{padding:3px 0;}
.tab_contents_wrap table td.info{padding:0;}
td.path a{display:block;margin:2px;padding:2px;}
td.info div{font-size:0;margin:2px;}
td.info div > ul > li > span{display:inline-block;vertical-align:middle;font-size:11px;margin:2px;padding:2px;}
td.info .case{}
td.info .case > .t{display:table;width:100%;}
td.info .case > .t > .r{display:table-row;}
td.info .case > .t > .r > .c{display:table-cell;vertical-align:middle;}
td.info .field{}
td.info .field > ul{display:block;}
td.info .field > ul > li{display:inline-block;vertical-align:middle;}
td.info .field > ul > li span{white-space:nowrap;border:1px solid #ccc;}
td.info .case{}
td.info .case > ul{margin:2px;border:1px solid #6db8eb;}
td.info .dialog{}
td.info .dialog > ul{margin:2px;border:1px solid #c00;}
td.info .comment{}
td.info .comment > ul{margin:2px;border:1px solid #ccc;background:#fff;}
td.info .comment span{color:#999;}
td.info .overlay > ul{margin:2px;border:1px solid #069;}
td.info .overlay span{color:#069;}
td.info .redirect > ul{margin:2px;border:1px solid #ccc;background:#fff;}
td.info .redirect span{font-family:consolas;font-weight:bold;color:#666;}
td.info .version > ul{margin:2px;border:1px solid #ccc;background:#fff;}
td.info .version span{font-family:consolas;font-weight:bold;color:#666;}
td.info .tab > ul{margin:2px;border:1px solid #333;}
td.info .tab span{color:#333;}
tr.com td{background:#f3f3f3;}
tr.out td{background:#fff6eb;}
tr.todo td{background:#faefed;}
tr.ie9 td{background:#0ff;}
tr.todo td.path a{color:#666;}
tr.cancel td.path a{text-decoration:line-through;}
tr.content td.path a{color:#026fb9;}