@charset "utf-8";

@font-face {
	font-family:"Noto Sans KR";
	font-style:normal;
	font-weight:normal;
	src:url("/a/fonts/NotoSans-Regular.woff2") format("woff2"),
		url("/a/fonts/NotoSans-Regular.woff") format("woff"),
		url("/a/fonts/NotoSans-Regular.otf") format("opentype");
}

@font-face {
	font-family:"Noto Sans KR";
	font-style:normal;
	font-weight:bold;
	src:url("/a/fonts/NotoSans-Bold.woff2") format("woff2"),
		url("/a/fonts/NotoSans-Bold.woff") format("woff"),
		url("/a/fonts/NotoSans-Bold.otf") format("opentype");
}

html, body,
h1, h2, h3, h4, h5, h6,
input, select, textarea, button, option {font-family:"Noto Sans KR", "맑은 고딕", "돋움", dotum, saSns-serif;}

html {position:relative;}
html, body {font-weight:normal;color:#111;}
body {position:relative;font-size:14px;}
body, div, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, form, fieldset, legend, button, p, pre, blockquote, menu, figure, input {margin:0;padding:0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, select, input, textarea, p, blockquote, th, td, menu, button, a, span, strong, label, header, footer, section, article, aside, nav, hgroup, details, figure, figcaption {word-break:break-word;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
h1, h2, h3, h4, h5, h6, input, select, textarea, button, option {font-size:14px;font-weight:normal;color:inherit;}
pre, code, samp, kbd {font-family:inherit;}
h1, h2, h3, h4, h5, h6, strong, b, th {font-weight:bold;}
em, var, address {font-style:normal;}
ul, ol, li {list-style:none;}

legend, fieldset, button, img {border:0 none;}
input, select, textarea, button, label, strong, a, time {vertical-align:inherit;}
input, select, textarea, button, option {font-family:inherit;font-weight:inherit;}
input[type="text"]::-webkit-search-cancel-button {appearance:none;-webkit-appearance:none;}
button, select, option {color:inherit;text-transform:none;}
textarea {resize:none;}
caption, legend {width:0;height:0;overflow:hidden;line-height:0;text-indent:-9999px;font-size:0;}
table {border-collapse:collapse;border-spacing:0;}
button {overflow:visible;text-align:left;cursor:pointer;background:none;}


@media screen and (max-device-width: 480px){
	html, body{
		text-size-adjust:none;
		-moz-text-size-adjust:none;
		-ms-text-size-adjust:none;
		-webkit-text-size-adjust:none;
		-webkit-tap-highlight-color:transparent;
		-webkit-user-select:none;
	}
}

html,
body{display:block;height:100%;}

a{text-decoration:none;}
a.blank,
a.tel{transition:all .2s;}
a.blank{color:#6a8bb8;}
a.blank:hover{color:#3e597d;}
a.tel{color:#6a8bb8;}

strong{font-weight:bold;}

em{color:#6a8bb8;}

hr{display:block;height:1px;line-height:0;font-size:0;color:#f3f3f3;margin:10px 0;border:0;background-color:#f3f3f3;}

p{line-height:1.5;}

input[type="tel"],
input[type="text"]{caret-color: #e62423;}


/* - Chrome ≤56,
   - Safari 5-10.0
   - iOS Safari 4.2-10.2
   - Opera 15-43
   - Opera Mobile 12-12.1
   - Android Browser 2.1-4.4.4
   - Samsung Internet ≤6.2
   - QQ Browser */
::-webkit-input-placeholder {color: #ccc;}

/* Firefox 4-18 */
:-moz-placeholder {color: #ccc;}

/* Firefox 19-50 */
::-moz-placeholder {color: #ccc;}

/* - Internet Explorer 10–11
   - Internet Explorer Mobile 10-11 */
:-ms-input-placeholder {color: #ccc !important;}

/* Edge (also supports ::-webkit-input-placeholder) */
::-ms-input-placeholder {color: #ccc;}

/* CSS Pseudo-Elements Level 4 Editor's Draft
   - Browsers not mentioned in vendor prefixes
   - Browser of newer versions than mentioned in vendor prefixes */
::placeholder {color: #ccc;}



.db{display:block;}
.dib{display:inline-block;}

.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}

.ellipsis{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}
.ellipsis-2{
	display:-webkit-box;
	height:2.8em;
	overflow:hidden;
	line-height:1.4;
	text-overflow:ellipsis;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
}

.usn{
	user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	-webkit-user-select:none;
}




span.icn,
span.lbl,
span.num,
span.val,
span.crc,
span.sprt,
span.dlmt{display:inline-block;vertical-align:middle;}

.align{display:inline-block;vertical-align:middle;}

span.price{display:inline-block;vertical-align:middle;}
span.price .val,
span.price .crc{vertical-align:baseline;}

span.percent{display:inline-block;vertical-align:middle;}
span.percent .val,
span.percent .crc{vertical-align:baseline;}




.t{display:table;}
.t > .r{display:table-row;}
.t > .c,
.t > .r > .c{display:table-cell;vertical-align:middle;}
.t > dl{display:table-row;}
.t > dl > dt,
.t > dl > dd{display:table-cell;vertical-align:middle;}
dl.t > dt{display:table;}
dl.t > dt,
dl.t > dd{display:table-cell;vertical-align:middle;}

.t.field-and-btn{width:100%;}
.t.field-and-btn > .r > .c:first-child{width:99%;}
.t.field-and-btn > .r > .c:last-child{width:1%;padding-left:10px;}




.mw4{min-width:4.0em;}
.mw5{min-width:5.0em;}
.mw6{min-width:6.0em;}
.mw7{min-width:7.0em;}
.mw8{min-width:8.0em;}
.mw9{min-width:9.0em;}
.mw10{min-width:10.0em;}

.wp1{width:1%;}.wp2{width:2%;}.wp3{width:3%;}.wp4{width:4%;}.wp5{width:5%;}.wp6{width:6%;}.wp7{width:7%;}.wp8{width:8%;}.wp9{width:9%;}
.wp10{width:10%;}.wp11{width:11%;}.wp12{width:12%;}.wp13{width:13%;}.wp14{width:14%;}.wp15{width:15%;}.wp16{width:16%;}.wp17{width:17%;}.wp18{width:18%;}.wp19{width:19%;}
.wp20{width:20%;}.wp21{width:21%;}.wp22{width:22%;}.wp23{width:23%;}.wp24{width:24%;}.wp25{width:25%;}.wp26{width:26%;}.wp27{width:27%;}.wp28{width:28%;}.wp29{width:29%;}
.wp30{width:30%;}.wp31{width:31%;}.wp32{width:32%;}.wp33{width:33%;}.wp34{width:34%;}.wp35{width:35%;}.wp36{width:36%;}.wp37{width:37%;}.wp38{width:38%;}.wp39{width:39%;}
.wp40{width:40%;}.wp41{width:41%;}.wp42{width:42%;}.wp43{width:43%;}.wp44{width:44%;}.wp45{width:45%;}.wp46{width:46%;}.wp47{width:47%;}.wp48{width:48%;}.wp49{width:49%;}
.wp50{width:50%;}.wp55{width:55%;}
.wp60{width:60%;}.wp65{width:65%;}
.wp70{width:70%;}.wp75{width:75%;}
.wp80{width:80%;}.wp85{width:85%;}
.wp90{width:90%;}.wp95{width:95%;}
.wp100{width:100%;}

.wx10{width:10px;}.wx20{width:20px;}.wx30{width:30px;}.wx40{width:40px;}.wx50{width:50px;}.wx60{width:60px;}.wx70{width:70px;}.wx80{width:80px;}.wx90{width:90px;}
.wx100{width:100px;}.wx110{width:110px;}.wx120{width:120px;}.wx130{width:130px;}.wx140{width:140px;}.wx150{width:150px;}.wx160{width:160px;}.wx170{width:170px;}.wx180{width:180px;}.wx190{width:190px;}
.wx200{width:200px;}.wx220{width:220px;}.wx240{width:240px;}.wx260{width:260px;}.wx280{width:280px;}
.wx300{width:300px;}.wx320{width:320px;}.wx340{width:340px;}.wx360{width:360px;}.wx380{width:380px;}
.wx400{width:400px;}.wx420{width:420px;}.wx440{width:440px;}.wx460{width:460px;}.wx480{width:480px;}
.wx500{width:500px;}

.mt0{margin-top:0 !important;}.mt1{margin-top:1px;}.mt2{margin-top:2px;}.mt3{margin-top:3px;}.mt4{margin-top:4px;}.mt5{margin-top:5px;}.mt6{margin-top:6px;}.mt7{margin-top:7px;}.mt8{margin-top:8px;}.mt9{margin-top:9px;}
.mt10{margin-top:10px;}.mt11{margin-top:11px;}.mt12{margin-top:12px;}.mt13{margin-top:13px;}.mt14{margin-top:14px;}.mt15{margin-top:15px;}.mt16{margin-top:16px;}.mt17{margin-top:17px;}.mt18{margin-top:18px;}.mt19{margin-top:19px;}
.mt20{margin-top:20px;}.mt22{margin-top:22px;}.mt24{margin-top:24px;}.mt25{margin-top:25px;}.mt26{margin-top:26px;}.mt28{margin-top:28px;}
.mt30{margin-top:30px;}.mt32{margin-top:32px;}.mt34{margin-top:34px;}.mt35{margin-top:35px;}.mt36{margin-top:36px;}.mt38{margin-top:38px;}
.mt40{margin-top:40px !important;}.mt42{margin-top:42px;}.mt44{margin-top:44px;}.mt45{margin-top:45px;}.mt46{margin-top:46px;}.mt48{margin-top:48px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}

.mr0{margin-right:0 !important;}.mr1{margin-right:1px;}.mr2{margin-right:2px;}.mr3{margin-right:3px;}.mr4{margin-right:4px;}.mr5{margin-right:5px;}.mr6{margin-right:6px;}.mr7{margin-right:7px;}.mr8{margin-right:8px;}.mr9{margin-right:9px;}
.mr10{margin-right:10px;}.mr12{margin-right:12px;}.mr15{margin-right:15px;}.mr16{margin-right:16px;}
.mr20{margin-right:20px;}.mr25{margin-right:25px;}
.mr30{margin-right:30px;}.mr35{margin-right:35px;}
.mr40{margin-right:40px;}.mr45{margin-right:45px;}
.mr50{margin-right:50px;}

.mb0{margin-bottom:0 !important;}.mb1{margin-bottom:1px;}.mb2{margin-bottom:2px;}.mb3{margin-bottom:3px;}.mb4{margin-bottom:4px;}.mb5{margin-bottom:5px;}.mb6{margin-bottom:6px;}.mb7{margin-bottom:7px;}.mb8{margin-bottom:8px;}.mb9{margin-bottom:9px;}
.mb10{margin-bottom:10px;}.mb12{margin-bottom:12px;}.mb15{margin-bottom:15px;}.mb16{margin-bottom:16px;}
.mb20{margin-bottom:20px;}.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}.mb80{margin-bottom:80px;}

.ml0{margin-left:0 !important;}.ml1{margin-left:1px;}.ml2{margin-left:2px;}.ml3{margin-left:3px;}.ml4{margin-left:4px;}.ml5{margin-left:5px;}.ml6{margin-left:6px;}.ml7{margin-left:7px;}.ml8{margin-left:8px;}.ml9{margin-left:9px;}
.ml10{margin-left:10px;}.ml12{margin-left:12px;}.ml15{margin-left:15px;}.ml16{margin-left:16px;}
.ml20{margin-left:20px;}.ml25{margin-left:25px;}
.ml30{margin-left:30px;}.ml35{margin-left:35px;}
.ml40{margin-left:40px;}.ml45{margin-left:45px;}
.ml50{margin-left:50px;}

.b0{border:0 !important;}
.bt0{border-top:0 !important;}
.br0{border-right:0 !important;}
.bb0{border-bottom:0 !important;}
.bl0{border-left:0 !important;}

/* padding both sides */
.ph4{padding-left:4px;padding-right:4px;}
.ph8{padding-left:8px;padding-right:7px;}
.ph10{padding-left:10px;padding-right:10px;}
.ph12{padding-left:12px;padding-right:12px;}
.ph16{padding-left:16px;padding-right:16px;}
.ph20{padding-left:20px;padding-right:20px;}
.ph32{padding-left:32px;padding-right:32px;}
.pv4{padding-top:4px;padding-bottom:4px;}
.pv8{padding-top:8px;padding-bottom:8px;}
.pv10{padding-top:10px;padding-bottom:10px;}
.pv12{padding-top:12px;padding-bottom:12px;}
.pv16{padding-top:16px;padding-bottom:16px;}
.ph20{padding-left:20px;padding-right:20px;}
.pv20{padding-top:20px;padding-bottom:20px;}
.ph30{padding-left:30px;padding-right:30px;}
.pv30{padding-top:30px;padding-bottom:30px;}




.btn{
	position:relative;
	display:-moz-inline-stack;
	display:inline-block;
	*display:inline;
	overflow:hidden;
	line-height:normal;
	vertical-align:middle;
	text-align:center;
	font-size:0;
	text-decoration:none;
	white-space:nowrap;
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;-moz-box-sizing:border-box;
	zoom:1;
}

.btn{height:24px;line-height:24px;}
button.btn{color:#fff;padding:0 10px;border-radius:3px;background:#a9a9a9;transition:all .2s;}
.btn:hover,
button.btn:hover{background-color:#666;}
.btn-proc,
button.btn-proc,
button.btn-proc.btn-add{background:#3e4e68;}
button.btn-proc:hover,
button.btn-proc.btn-add:hover{background:#000;}

.btn .icn,
.btn .lbl {line-height:24px;}
.btn .icn + .lbl,
.btn .lbl + .icn{margin-left:5px;}
.btn .icn:before,
.btn .lbl{font-size:13px;}
.btn .lbl{line-height:22px;}
.btn .icn:before{
	display:inline-block;
	vertical-align:middle;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
}
.btn-wrt .icn:before{content:"\f055";}
.btn-del .icn:before{content:"\f057";}
.btn-atch .icn:before{content:"\f15b";} /* 게시판 첨부파일 */
.btn-file .icn:before{content:"\f016";}
.btn-manager.btn-permission .icn:before{content:"\f013";}

.tool-bar .btn-search .icn:before{content:"\f002";}

.btn-lst .icn:before{content:"\f0ca";} /* 목록 */
.btn-wrt .icn:before{content:"\f040";} /* 등록 */
.btn-edt .icn:before{content:"\f12d";} /* 수정 */
.btn-del .icn:before{content:"\f1f8";content:"\f014";} /* 삭제 */
.btn-sav .icn:before{content:"\f0c7";} /* 저장 */
.btn-rst .icn:before{content:"\f0e2";} /* 취소 */
.btn-prv .icn:before{content:"\f01a";} /* 이전 */
.btn-nxt .icn:before{content:"\f01b";} /* 다음 */
.btn-off .icn:before{content:"\f05e";} /* 미사용 */
.btn-res .icn:before{content:"\f021";} /* 이미지 전송 오류 재처리 */
.btn-pms .icn:before{content:"\f084";} /* 관리자 권한설정 */
.btn-mod .icn:before{content:"\f2bd";} /* 상담사 상태변경 */
.btn-cpy .icn:before{content:"\f0c5";} /* 이미지 전송 오류 복사 */
.btn-fin .icn:before{content:"\f00c";} /* 이미지 전송 오류 완료 */
.btn-add .icn:before{content:"\f067";} /* 추가 */

button.btn-add{background:#666;}
button.btn-add:hover{background:#000;}

.btn-contained,
button.btn-contained{display:block;height:56px;color:#fff;border:0;border-radius:4px;background:#E62423;}
.btn-contained .lbl{font-size:16px;font-weight:bold;}
.btn-contained .lbl + .icn.rang{margin-left:8px;}
.btn-contained.disabled{background:#FFD6D6;}

.btn-contained.btn-cancel{background-color:#ebebeb;}
.btn-contained.btn-cancel .lbl{color:#666;}

.btn-uncontained,
button.btn-uncontained{display:block;height:56px;color:#000;border:0;border-radius:4px;}
.btn-uncontained .lbl{font-size:16px;font-weight:bold;}
.btn-uncontained .lbl + .icn.rang{margin-left:8px;}
.btn-uncontained.disabled{background:#FFD6D6;}

.btn-outlined,
button.btn-outlined{display:block;height:56px;color:#2B4CA6;border:1px solid #2B4CA6;border-radius:4px;background:#fff;}
.btn-outlined .lbl{font-size:16px;font-weight:bold;}
.btn-outlined .lbl + .icn.rang{margin-left:8px;}
.btn-outlined.disabled{opacity:.3;}

.btn.btn-keypad .icn {width: 32px;height: 32px; margin-top: 5px; background: url("/a/images/icn_keyboard.png") no-repeat 50% 50%; background-size: 32px 32px;}
.btn.btn-keypad .lbl {display:none;}

.btn.disabled{cursor:default;opacity:.25;}





.icn.fa:before{
	display:inline-block;
	vertical-align:middle;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
}




.tool-bar{}
.tool-bar > .t{display:table;width:100%;}
.tool-bar > .t > .c,
.tool-bar > .t > .r > .c{display:table-cell;vertical-align:middle;text-align:left;}
.tool-bar > .t > .c:last-child,
.tool-bar > .t > .r > .c:last-child{text-align:right;}

.tool-bar table{width:100%;}
.tool-bar table col.th{width:100px;}
.tool-bar table col.td.p40{width:40%;}
.tool-bar table tbody th,
.tool-bar table tbody td{border:1px solid #e3e3e3;}
.tool-bar table tbody th{white-space:nowrap;background:#f3f3f3;}
.tool-bar table tbody td.tb{text-align:center;background:#f3f3f3;}

.field{display:inline-block;vertical-align:middle;}
.field.db{display:block;}
.field input[type="search"].db,
.field input[type="tel"].db,
.field input[type="text"].db,
.field input[type="password"].db,
.field textarea.db{display:block;width:100%;}

.field.fromto-num input{width:4.4em;}
.field.fromto-date{white-space:nowrap;}
.field.fromto-time input{width:2.0em;}

span.hint{display:inline-block;vertical-align:middle;color:#999;}
.field + span.hint{margin-left:10px;}

.irc{}
.irc + .irc{margin-left:10px;}
.irc.db + .irc.db{margin-left:0;}
.irc input + .lbl{margin-left:5px;}
.irc input{display:inline-block;vertical-align:middle;}
.irc .lbl{}


select,
input,
textarea{border:1px solid #a9a9a9;border-radius:3px;}
select,
input{height:24px;}
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="password"],
textarea{padding:0 5px;}
textarea{height:6.0em;}


/* datepicker */
.ui-datepicker{padding:4px;box-shadow:0 0 4px #D9D9D9;-moz-box-shadow:0 0 4px #D9D9D9;-webkit-box-shadow:0 0 4px #D9D9D9;}
.ui-datepicker{font-size:13px;}
.ui-datepicker *{letter-spacing:0;}
.ui-datepicker .ui-datepicker-header{padding:3px 0;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{top:1px;width:24px;height:24px;cursor:pointer;margin:0;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span{left:4px;top:4px;width:16px;height:16px;margin:0;}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover{margin:0;border:0;}
.ui-datepicker .ui-datepicker-prev:hover{left:2px;}
.ui-datepicker .ui-datepicker-next:hover{right:2px;}
.ui-datepicker .ui-datepicker-prev:hover span,
.ui-datepicker .ui-datepicker-next:hover span{margin:0;}
.ui-datepicker .ui-datepicker-title{line-height:1.5;}
.ui-datepicker .ui-datepicker-title select{height:auto;font-size:12px;margin:0;padding:0;}
.ui-datepicker .ui-datepicker-buttonpane{*zoom:1;}
.ui-datepicker .ui-datepicker-buttonpane:after{display:block;clear:both;content:" ";}
.ui-datepicker .ui-datepicker-buttonpane{margin:4px 0 0 0;padding:0;border:0;background:none;}
.ui-datepicker .ui-datepicker-buttonpane button{font-size:12px;font-weight:normal;margin:1px;padding:2px 5px;opacity:1;}
.ui-datepicker .ui-datepicker-buttonpane button:before{
	display:inline-block;
	vertical-align:0;
	font-family:FontAwesome;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
	padding-right:4px;
	-webkit-font-smoothing:antialiased;
}
.ui-datepicker .ui-state-highlight{color:#333333;border:1px solid #333333;background:#F6F6F6;}
.ui-datepicker .ui-state-active{color:#FFFFFF;border:1px solid #333333;background:#666666;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current{}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current:before{color:#429E34;content:"\f00c";}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-clear{float:left;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-clear:before{color:#CC0000;content:"\f0e2";}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close{font-weight:normal;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close:before{color:#999999;content:"\f00d";}
.ui-datepicker .ui-datepicker-calendar{color:#666666;margin:0;}
.ui-datepicker .ui-datepicker-calendar tbody tr th,
.ui-datepicker .ui-datepicker-calendar tbody tr td{height:auto;}
.ui-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-today .ui-state-default{}
.ui-datepicker td span,
.ui-datepicker td a{padding:.15em .2em;}
.ui-datepicker-trigger{display:inline-block;width:20px;height:20px;vertical-align:middle;text-align:center;font-size:0;opacity:.75;}
.ui-datepicker-trigger:focus{outline:0;}
.ui-datepicker-trigger:before{
	display:inline-block;
	vertical-align:middle;
	font-family:FontAwesome;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	color:#000;
	-webkit-font-smoothing:antialiased;
	content:"\f133";
}
.ui-datepicker-trigger + .tilde{margin-left:4px;}
input.datepicker{width:7.8em;border-width:1px;outline:0;}
input.datepicker + .ui-datepicker-trigger{position:relative;margin:0 0 0 -24px;}
input.datepicker{position:relative;padding-right:24px;}
input.datepicker:read-only{cursor:default;background:#f6f6f6;}
input.datepicker{z-index:100;}
input.datepicker + .ui-datepicker-trigger{z-index:101;}


/* spinner */
.spinner.h{padding:0;}
.spinner.h .ui-spinner{width:60px;padding:0 30px;border:0;border-radius:0;border:1px solid #A9A9A9;}
.spinner.h .ui-spinner .ui-spinner-input{
	width:100%;height:36px;
	text-align:center;font-size:14px;font-style:normal;font-weight:normal;color:#666666;
	padding:0;border:0;outline:0;background:transparent;
}
.spinner.h .ui-spinner .ui-button-text-only .ui-button-text{padding:0;}
.spinner.h .ui-spinner .ui-spinner-button{
	position:absolute;top:0;width:30px;height:40px;
	text-align:center;padding:0;border:0;background:#eee;
}
.spinner.h .ui-spinner .ui-spinner-button .ui-icon{
	display:inline-block;position:static;vertical-align:middle;left:auto;top:auto;
	text-indent:0;font-size:12px;color:#888888;margin:10px 0 0 0;padding:0;
}
.spinner.h .ui-spinner .ui-spinner-button .ui-icon:before{
	display:inline-block;
	line-height:normal;
	vertical-align:middle;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
}
.spinner.h .ui-spinner .ui-spinner-button.ui-spinner-up{right:0;border-left:1px solid #A9A9A9;}
.spinner.h .ui-spinner .ui-spinner-button.ui-spinner-up .ui-icon:before{content:"\f067";}
.spinner.h .ui-spinner .ui-spinner-button.ui-spinner-down{left:0;border-right:1px solid #A9A9A9;}
.spinner.h .ui-spinner .ui-spinner-button.ui-spinner-down .ui-icon:before{content:"\f068";}

.spinner.v{padding:0;}
.spinner.v .ui-spinner{width:60px;padding-right:18px;border:1px solid #A9A9A9;border-radius:3px;}
.spinner.v .ui-spinner .ui-spinner-input{
	display:block;width:100%;height:24px;
	text-align:center;text-indent:0px;font-size:13px;font-style:normal;font-weight:normal;color:#575F69;
	margin:0 15px 0 0;padding:0;border:0;outline:0;background:transparent;
}
.spinner.v .ui-spinner .ui-button-text-only .ui-button-text{padding:0;}
.spinner.v .ui-spinner a.ui-spinner-button .ui-icon{text-indent:0;font-size:0;background:none;opacity:.5;}
.spinner.v .ui-spinner a.ui-spinner-button .ui-icon:before{
	display:inline-block;
	vertical-align:middle;
	font-family:FontAwesome;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
	color:#000;
	-webkit-font-smoothing:antialiased;
}
.spinner.v .ui-spinner a.ui-spinner-button.ui-spinner-up .ui-icon{}
.spinner.v .ui-spinner a.ui-spinner-button.ui-spinner-up .ui-icon:before{line-height:17px;content:"\f0d8";}
.spinner.v .ui-spinner a.ui-spinner-button.ui-spinner-down .ui-icon{}
.spinner.v .ui-spinner a.ui-spinner-button.ui-spinner-down .ui-icon:before{line-height:16px;content:"\f0d7";}




/* .pagination */
.pagination{font-size:0;margin:40px 0;}
.pagination .d,
.pagination .slash{display:inline-block;position:relative;line-height:normal;vertical-align:middle;text-decoration:none;}
.pagination .tooltip{
	display:block;position:absolute;left:50%;top:-60px;line-height:normal;
	text-align:center;text-indent:0;font-size:12px;color:#666666;
	white-space:nowrap;letter-spacing:0;
	margin-left:-28px;padding:6px 5px 4px 5px;
	border:1px solid #D9D9D9;background:#FFFFFF;
	pointer-events:none;
	opacity:0;
	box-shadow:1px 1px 3px rgba(0, 0, 0, .2);
	transition:all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.pagination .tooltip:before{
	display:block;position:absolute;left:50%;bottom:-6px;width:10px;height:10px;
	margin-left:-5px;
	border-width:1px;border-style:none none solid solid;border-color:#D9D9D9;
	background-color:#FFFFFF;
	content:"";
	box-shadow:-1px 1px 3px rgba(0, 0, 0, .2);
	transform:rotate(315deg);
	-webkit-transform:rotate(315deg);
	-moz-transform:rotate(315deg);
}
.pagination .d:hover .tooltip{top:-40px;opacity:1;}

.pagination .align{display:table;margin:0 auto;}
.pagination .align > div{display:table-cell;}

.pagination .direction{}
.pagination .direction .d{}
.pagination .direction .d .icn{position:relative;width:24px;;height:24px;text-align:center;font-size:0;color:#000;opacity:0.75;}
.pagination .direction .d.disabled .icn{opacity:.25;}
.pagination .direction .d .icn:before{
	display:inline-block;
	line-height:24px;
	vertical-align:middle;
	font-family:FontAwesome;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
	-webkit-font-smoothing:antialiased;
}
.pagination .direction .d.first .icn:before{content:"\f100";}
.pagination .direction .d.last .icn:before{content:"\f101";}
.pagination .direction .d.prev .icn:before{content:"\f104";}
.pagination .direction .d.next .icn:before{content:"\f105";}
.pagination .direction .d .lbl{display:none;}

.pagination .fraction{padding:0 10px;}
.pagination .fraction .d{padding:0 5px;}
.pagination .fraction span.d{cursor:default;}
.pagination .fraction a.d{cursor:pointer;}
.pagination .fraction .d .lbl,
.pagination .fraction .slash{font-size:15px;color:#666;}
.pagination .fraction .d.current .lbl{color:#e62423;}
.pagination .fraction .slash{margin:0 2px;}

.pagination a.disabled{cursor:default;}

.pagination .d{z-index:1;}
.pagination .d:hover,
.pagination .d:active,
.pagination .d:focus{z-index:2;}
.pagination .d.current{z-index:3;}





























/* default */
.container{position:relative;width:100%;height:100%;}

.header,
.main,
.footer{position:relative;}

.header .section,
.main .section,
.footer .section{}

.header .section .content,
.main .section .content,
.footer .section .content{width:960px;margin:0 auto;}

/* @media (min-width:1280px) {
	.header .section .content,
	.main .section .content,
	.footer .section .content{width:1200px;}
} */

.header{padding:50px 0 0 0;}
.header .section{position:fixed;left:0;right:0;top:0;background:#f3f7fa;}
.header .section:after{display:block;position:absolute;left:0;right:0;bottom:0;height:1px;font-size:0;background:#000;content:"";opacity:.05;}
.container.scrolled .header .section{box-shadow:0 4px 4px 0 rgba(0, 0, 0, .15);}
.header .logo{display:inline-block;position:relative;width:120px;height:32px;}
.header .logo img{display:block;height:100%;}

.header .logo + .gnb{margin-left:10px;}
.header .gnb{display:inline-block;vertical-align:middle;text-align:center;font-size:0;}
.header .gnb .btn{display:block;}
.header .gnb div.a3{display:table;}
.header .gnb div.a3 > ul{display:table-row;}
.header .gnb div.a3 > ul > li{display:table-cell;vertical-align:middle;text-align:center;}
.header .gnb div.a3 > ul > li > .btn{height:auto;text-align:center;padding:13px 20px;transition:all .2s;}
.header .gnb div.a3 > ul > li > .btn .icn + .lbl{margin-left:0;}
.header .gnb div.a3 > ul > li > .btn .lbl{font-size:16px;font-weight:bold;color:#333;}
.header .gnb div.a3 > ul > li > .btn:hover{background:#d1dbe3;}

.header .status-bar{}
.header .status-bar > .t{width:100%;}
.header .status-bar > .t > .r{}
.header .status-bar > .t > .r > .c{}
.header .status-bar > .t > .r > .c.q1{}
.header .status-bar > .t > .r > .c.q2{text-align:right;}
.header .status-bar .status{font-size:0;}
.header .status-bar .status span{display:inline-block;vertical-align:middle;font-size:14px;}
.header .status-bar .status .stat + .stat{margin-left:5px;}
.header .status-bar .status .stat{color:#fff;padding:2px 10px 4px 10px;border-radius:4px;background:none;}
.header .status-bar .status .stat:last-child{padding-right:0;}
.header .status-bar .status .stat .icn{font-size:0;margin:2px 5px 0 0;}
.header .status-bar .status .stat .icn:before{
	display:inline-block;
	vertical-align:middle;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	color:#000;
	-webkit-font-smoothing:antialiased;
}
.header .status-bar .status .stat.time .icn:before{font-size:18px;content:"\f017";}
.header .status-bar .status .stat.user .icn:before{font-size:16px;content:"\f007";}
.header .status-bar .status .stat .lbl{color:#999;margin:0 10px 0 0;}
.header .status-bar .status .stat .val{color:#333;}
.header .status-bar .status .stat .suffix{color:#999;}
.header .status-bar .status .stat .btn-signout{margin:0 0 0 10px;padding:0 5px;border-radius:3px;background:#999;transition:all .2s;}
.header .status-bar .status .stat .btn-signout:hover{background-color:#666;}
.header .status-bar .status .stat .btn-signout .icn{display:none;}
.header .status-bar .status .stat .btn-signout .lbl{font-size:13px;color:#fff;margin:0;}

.nav{position:fixed;left:-250px;top:0;bottom:0;width:300px;z-index:40;transition:all .4s ease;}
.nav .section,
.nav .content{height:100%;}
.nav .title-bar{margin:0;background:#000;}
.nav .title-bar > .t{width:100%;}
.nav .title-bar > .t > .r{}
.nav .title-bar > .t > .r > .c{}
.nav .title-bar > .t > .r > .c:first-child{padding:0 25px;}
.nav .title-bar > .t > .r > .c:last-child{text-align:right;font-size:0;}
.nav .title-bar h2{font-size:18px;font-weight:normal;color:#fff;}
.nav .title-bar .btn{height:50px;text-align:center;}
.nav .title-bar .btn .lbl{display:none;}
.nav .title-bar .btn .icn{font-size:0;}
.nav .title-bar .btn .icn:before{
	display:inline-block;
	line-height:48px;
	vertical-align:middle;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
}

.nav .btn-pin{width:40px;background:none;}
.nav .btn-pin .icn{margin-top:1px;opacity:.5;}
.nav .btn-pin .icn:before{font-size:20px;color:#fff;content:"\f08d";}
.nav .btn-menu{width:50px;background:#000;}
.nav .btn-menu .icn:before{font-size:24px;color:#fff;content:"\f0c9";}
.nav .section{height:100%;}

.lnb{width:250px;background:#3e4e68;}
.lnb .nano{height:calc(100vh - 42px);}
.lnb .nano .nano-content{}
.lnb .nano .nano-pane{}
.lnb div.a4{font-size:0;}
.lnb .btn{display:block;position:relative;height:auto;}
.lnb .btn .icn{display:none;}
.lnb .btn .icn + .lbl{margin:0;}
.lnb div.a4 > ul{padding:0 0 30px 0;}
.lnb div.a4 > ul > li{position:relative;}
.lnb div.a4 > ul > li:after{display:block;position:absolute;left:0;right:0;bottom:0;height:1px;font-size:0;background:#000;content:"";opacity:.1;}
.lnb div.a4 > ul > li > .btn{text-align:left;padding:10px 25px;transition:all .1s;}
.lnb div.a4 > ul > li > .btn:hover{background:#313d53;}
.lnb div.a4 > ul > li > .btn .lbl{font-size:16px;font-weight:normal;color:#fff;opacity:.75;}

.lnb div.a4 > ul > li > .btn .icn.angle{display:inline-block;position:absolute;right:20px;top:10px;width:24px;height:24px;vertical-align:middle;text-align:center;opacity:.15;}
.lnb div.a4 > ul > li > .btn .icn.angle:before{font-size:18px;color:#fff;content:"\f105";}
.lnb div.a4 > ul > li > .btn.get-accordion .icn.angle{opacity:.75;}
.lnb div.a4 > ul > li > .btn.get-accordion .icn.angle:before{content:"\f107";}

.lnb div.a5{padding-bottom:10px;}
.lnb div.a5 > ul{}
.lnb div.a5 > ul > li{position:relative;}
.lnb div.a5 > ul > li:before{display:inline-block;position:absolute;left:28px;top:16px;width:3px;height:3px;border-radius:50%;background:#8ea0bf;content:"";}
.lnb div.a5 > ul > li > .btn{text-align:left;color:#8ea0bf;padding:5px 15px 5px 40px;transition:all .2s;}
.lnb div.a5 > ul > li > .btn .lbl{font-size:14px;font-weight:normal;}
.lnb div.a5 > ul > li > .btn:hover{color:#ebeff2;background:none;}
.lnb div.a5 > ul > li.current:before{background-color:#ebeff2;}
.lnb div.a5 > ul > li.current > .btn{color:#ebeff2;}

.lnb div.a4 > ul > li.current div.a5{display:block;}


.container.nav-pinned .nav,
.container.nav-on .nav{left:0;}
.container.nav-pinned .nav .section,
.container.nav-on .nav .section{left:0;box-shadow:5px 0 5px 0 rgba(0, 0, 0, .2);}
.container.nav-pinned .nav{transition:none;}
.container.nav-pinned .nav .lnb,
.container.nav-on .nav .lnb{width:300px;}
.container.nav-pinned .nav .btn-pin .icn{opacity:1;}
.container.nav-pinned .nav .btn-menu{cursor:default;}




.lnb.for-publish{}
.lnb.for-publish div.a4{}
.lnb.for-publish div.a4 > ul{}
.lnb.for-publish div.a4 > ul > li{}
.lnb.for-publish div.a4 > ul > li .btn{}
.lnb.for-publish div.a4 .btn .lbl{font-weight:bold;}
.lnb.for-publish div.a5{display:block;text-align:left;padding:0 25px;}
.lnb.for-publish div.a5 > ul,
.lnb.for-publish div.a5 > ul > li,
.lnb.for-publish div.a5 > ul > li > .btn{display:inline-block;vertical-align:middle;}
.lnb.for-publish div.a5 > ul > li:before{display:none;}
.lnb.for-publish div.a5 > ul{padding:3px 0;}
.lnb.for-publish div.a5 > ul > li{padding:3px;}
.lnb.for-publish div.a5 > ul > li > .btn{line-height:22px;padding:0 3px;border:1px solid #a9a9a9;border-radius:4px;}
.lnb.for-publish div.a5 > ul > li > .btn .lbl{font-weight:normal;}
.lnb.for-publish div.a5.cnt > ul > li{display:block;}
.lnb.for-publish div.a5.cnt > ul > li .btn:first-child{border-color:#ccc;background:#f3f3f3;}
.lnb.for-publish div.a5.cnt > ul > li .btn:first-child .lbl{color:#000;}
.lnb.for-publish div.a5.cnt > ul > li .btn + .btn{margin-left:5px;}




.main{}
.main .section{}
.main .section .content{min-height:calc(100vh - 50px - 50px);padding:40px 0;}



/* 로그인 */
body.bg-index{background: linear-gradient(to left top, #ffd2d2, #fff);}
.container.login{height:100%;}
.container.login .header,
.container.login .footer{display:none;}
.container.login .main,
.container.login .main > .section{height:100%;}
.container.login .main > .section{display:table;}
.container.login .main{display:table;width:100%;}
.container.login .main > .section{display:table-cell;vertical-align:middle;text-align:center;}
.container.login .main > .section > .content{display:inline-block;min-height:0;width:auto;vertical-align:middle;margin:0;}

.splash .cm .ani-img{display:inline-block;position:relative;overflow:hidden;vertical-align:middle;}
.splash .cm .ani-img img{display:block;width:100%;}
.cm-sp1{}
.cm-sp1 .ani-img{width:300px;height:440px;}
.cm-sp1 .ani-img .couple,
.cm-sp1 .ani-img .couple .hairs .hair,
.cm-sp1 .ani-img .couple .eyes .person .eye,
.cm-sp1 .ani-img .couple .arms .arm,
.cm-sp1 .ani-img .dog,
.cm-sp1 .ani-img .dog .ears .ear,
.cm-sp1 .ani-img .dog .eyes .eye,
.cm-sp1 .ani-img .dog .mouth .tongue{position:absolute;}
.cm-sp1 .ani-img .couple .body,
.cm-sp1 .ani-img .dog .body{position:relative;}
.cm-sp1 .ani-img .couple{left:0;top:0;width:300px; height:410px;padding:40px 0 0 0;}
.cm-sp1 .ani-img .couple .hairs .hair.q1{width:74px;top:14px; left:55px;}
.cm-sp1 .ani-img .couple .hairs .hair.q2{width:122px;top:35px; right:8px;}
.cm-sp1 .ani-img .couple .eyes .eye{width:3px; height:8px; line-height:0;font-size:0; background-color:#000101; border-radius:50%;}
.cm-sp1 .ani-img .couple .eyes .person.q1 .eye.q1{top:60px; left:97px;}
.cm-sp1 .ani-img .couple .eyes .person.q1 .eye.q2{top:60px; left:112px;}
.cm-sp1 .ani-img .couple .eyes .person.q2 .eye.q1{top:78px; right:92px;}
.cm-sp1 .ani-img .couple .eyes .person.q2 .eye.q2{top:78px; right:106px;}
.cm-sp1 .ani-img .couple .arms .arm.q1{width:45px;top:232px; left:2px;}
.cm-sp1 .ani-img .couple .arms .arm.q2{width:83px;top:215px; right:18px;}
.cm-sp1 .ani-img .dog{top:240px;left:85px;}
.cm-sp1 .ani-img .dog .body{width:107px;}
.cm-sp1 .ani-img .dog .ears .ear.q1{width:28px;top:8px; left:-3px;}
.cm-sp1 .ani-img .dog .ears .ear.q2{width:28px;top:6px; right:8px;}
.cm-sp1 .ani-img .dog .eyes .eye{width:3px; height:8px; line-height:0;font-size:0; background-color:#000101; border-radius:50%;}
.cm-sp1 .ani-img .dog .eyes .eye.q1{top:7px; left:40px;}
.cm-sp1 .ani-img .dog .eyes .eye.q2{top:7px; left:63px;}
.cm-sp1 .ani-img .dog .mouth .tongue{width:21px;top:15px; right:40px;}

.cm-sp1 .ani-img .couple .arms .arm.q1{animation:arm1 2s infinite; animation-delay:0.5s; animation-timing-function:ease-in-out; animation-direction: alternate; transform-origin:50% 0;}
.cm-sp1 .ani-img .couple .arms .arm.q2{animation:arm2 2s infinite; animation-timing-function:ease-in-out; animation-direction:alternate; transform-origin:60% 0;}
.cm-sp1 .ani-img .couple .hairs .hair.q1{animation:hair1 1.5s infinite; animation-timing-function:ease-in-out; animation-direction:alternate; transform-origin:30% 0;}
.cm-sp1 .ani-img .couple .hairs .hair.q2{animation:hair2 3.5s infinite; animation-delay:0.2s; animation-timing-function:ease-in-out; animation-direction:alternate; transform-origin:30% 0;}
.cm-sp1 .ani-img .dog .ears .ear.q1{animation:ear-left 1s infinite; transform-origin:50% 0; animation-timing-function:ease-in-out; animation-direction:alternate;}
.cm-sp1 .ani-img .dog .ears .ear.q2{animation:ear-right 1s infinite; transform-origin:50% 0; animation-timing-function:ease-in-out; animation-direction:alternate;}
.cm-sp1 .ani-img .dog .mouth .off{animation:mouse-off 1s infinite; animation-timing-function:ease-in-out;}
.cm-sp1 .ani-img .dog .mouth .on{animation:mouse-on 1s infinite; animation-timing-function:ease-in-out;}
.cm-sp1 .ani-img .couple .eyes .eye{animation:blink 2s infinite; animation-timing-function:linear; animation-direction:alternate;}
.cm-sp1 .ani-img .couple .eyes .person.q1 .eye{animation-delay:0.5s;}
.cm-sp1 .ani-img .dog .eyes .eye{animation:blink 2s infinite; animation-delay:0.3s; animation-timing-function:linear; animation-direction:alternate;}

.cm-sp1 .ani-img .couple .body{z-index:11;}
.cm-sp1 .ani-img .couple .hair{z-index:10;}
.cm-sp1 .ani-img .couple .hair{z-index:10;}
.cm-sp1 .ani-img .couple .eye{z-index:12;}
.cm-sp1 .ani-img .couple .arm.q1{z-index:10;}
.cm-sp1 .ani-img .couple .arm.q2{z-index:12;}
.cm-sp1 .ani-img .dog{z-index:16;}
.cm-sp1 .ani-img .dog .ear{z-index:15;}
.cm-sp1 .ani-img .dog .eye.q2{z-index:17;}
.cm-sp1 .ani-img .dog .mouth .tongue{z-index:18;}

@keyframes hair1{
    0%	{transform:rotate(2deg);}
    100%{transform:rotate(0deg);}
}
@keyframes hair2{
    0%	{transform:rotate(4deg);}
    100%{transform:rotate(0deg);}
}
@keyframes arm1 {
    0%	{transform:rotate(1deg);}
    100%{transform:rotate(-1deg);}
}
@keyframes arm2 {
    0%	{transform:rotate(2deg);}
    100%{transform:rotate(-2deg);}
}
@keyframes ear-left{
    0%	{transform:rotate(0deg);}
    100%{transform:rotate(3deg);}
}
@keyframes ear-right{
    0%	{transform:rotate(0deg);}
    100%{transform:rotate(-3deg);}
}
@keyframes mouse-off{
    0%{opacity:1;}
    100%{opacity:1;}
}
@keyframes mouse-on{
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes blink{
    100%{transform: rotateX(180deg);}
    50%	{transform: rotateX(0);}
    100%{transform: rotateX(180deg);}
} 

.ui-login{display:table;position:relative;border-radius:12px;background:#fff;box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.04);}
.container.login .ui-login .pane{display:table-cell;vertical-align:top;text-align:left;}
.container.login .ui-login .pane.q1{width:368px;vertical-align:bottom;padding:0 0 0 60px;}
.container.login .ui-login .pane.q2{width:432px;padding:60px;}
.container.login .ui-login .sup-bar{position:absolute;left:0;top:-90px;width:100%;height:90px;text-align:center;}
.container.login .ui-login .sup-bar .logo{display:inline-block;width:200px;height:58px;vertical-align:middle;}
.container.login .ui-login .sup-bar .logo img{display:block;height:100%;}
.container.login .ui-login .title-bar{}
.container.login .ui-login .title-bar h2{text-align:center;font-size:24px;font-weight:bold;color:#000;}
.container.login .ui-login .title-bar h2 + .desc{margin-top:5px;}
.container.login .ui-login .title-bar .desc{}
.container.login .ui-login .title-bar .desc p{text-align:center;font-size:14px;color:#4c4c4c;}
.container.login .ui-login .status-bar{text-align:center;font-size:0;}
.container.login .ui-login .status-bar dl,
.container.login .ui-login .status-bar dt,
.container.login .ui-login .status-bar dd{display:inline-block;vertical-align:middle;}
.container.login .ui-login .status-bar dl{position:relative;padding:0 10px;}
.container.login .ui-login .status-bar dl + dl:before{display:block;position:absolute;left:0;top:4px;bottom:2px;width:1px;font-size:0;background:#000;content:"";opacity:.15;}
.container.login .ui-login .status-bar .val{font-size:12px;}
.container.login .ui-login .status-bar .date .val{color:#2b4ca6;}
.container.login .ui-login .status-bar .time .val{color:#999;}
.container.login .ui-login .form{margin:32px 0 0 0;}
.container.login .ui-login .form .c{position:relative;padding:24px 0 0 0;border-bottom:1px solid #d9d9d9;}
.container.login .ui-login .form .c .btn-keypad{position:absolute;right:5px;bottom:3px;height:auto;}
.container.login .ui-login .form input.id,
.container.login .ui-login .form input.pw{display:block;height:40px;font-size:28px;font-weight:bold;border:0;}
.container.login .ui-login .btn-bar{margin:32px 0 0 0;}
.container.login .ui-login .btn-bar .btn-contained{width:100%;}














.ui-pane{display:table;table-layout:fixed;width:100%;}
.ui-pane .pane{display:table-cell;position:relative;vertical-align:top;}
.ui-pane .pane:before,
.ui-pane .pane:after{display:block;position:absolute;top:0;bottom:0;width:1px;font-size:0;background:#000;content:"";opacity:.1;}
.ui-pane .pane:before{left:0;}
.ui-pane .pane:after{right:0;}
.ui-pane .pane:first-child:after{display:none;}
.ui-pane .pane.q1{width:280px;}
.ui-pane .pane.q2{width:920px;padding:40px;}




.footer .section{background:#ccc;}
.footer .section:before{display:block;position:absolute;left:0;right:0;top:0;height:1px;font-size:0;background:#000;content:"";opacity:.1;}
.footer .company-info{font-size:0;}
.footer .company-info .logo{display:inline-block;position:relative;width:130px;height:40px;vertical-align:middle;}
.footer .company-info .logo img{display:block;height:100%;}
.footer .company-info > .t{width:100%;}
.footer .company-info > .t > .r{}
.footer .company-info > .t > .r > .c{height:50px;vertical-align:middle;text-align:center;}
.footer .company-info dl,
.footer .company-info dt,
.footer .company-info dd{display:inline-block;vertical-align:middle;font-size:13px;margin:0 5px;}
.footer .company-info .lbl{color:#fff;opacity:.75;}
.footer .company-info .val{color:#fff;opacity:.5;}
.footer .company-info .tel{}
.footer .company-info .tel:hover{color:#fff;}
.footer .company-info .copyright{font-size:11px;font-weight:normal;color:#fff;text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.2);}


.title-bar{margin-bottom:20px;}
.title-bar > .t{width:100%;}
.title-bar > .t > .r{}
.title-bar > .t > .r > .c{}
.title-bar > .t > .r > .c:last-child{text-align:right;}
.title-bar h2{font-size:20px;font-weight:bold;color:#333;}

.subtitle-bar{margin-top:40px;margin-bottom:10px;}
.subtitle-bar > .t{width:100%;}
.subtitle-bar > .t > .r{}
.subtitle-bar > .t > .r > .c{}
.subtitle-bar > .t > .r > .c:last-child{text-align:right;}
.subtitle-bar h3{font-size:16px;font-weight:bold;color:#333;}

.tool-bar{margin:20px 0;}
.tool-bar > .t{width:100%;}
.tool-bar > .t > .r{}
.tool-bar > .t > .r > .c{}
.tool-bar > .t > .r > .c:last-child{text-align:right;}
.tool-bar .field{display:inline-block;vertical-align:middle;}
.tool-bar .field + .sum{margin-left:3px;}
.tool-bar .sum{display:inline-block;vertical-align:middle;line-height:24px;}
.tool-bar .btn-search .lbl{display:none;}

.tool-bar.prop-bar{}
.tool-bar.prop-bar > .t,
.tool-bar.prop-bar > .t > .r,
.tool-bar.prop-bar > .t > .r > .c{height:100%;}
.tool-bar.prop-bar > .t > .r > .c:last-child{width:80px;text-align:center;border:1px solid #e3e3e3;border-left:0;background:#f3f3f3;}
.tool-bar.prop-bar table{}
.tool-bar.prop-bar table th,
.tool-bar.prop-bar table td{padding:10px;}
.tool-bar.prop-bar table tbody th{text-align:left;}
.tool-bar.prop-bar .field{white-space:nowrap;}
.tool-bar.prop-bar .field + .field{margin:0 0 0 5px;}
.tool-bar.prop-bar .field.db + .field.db{margin:10px 0 0 0;}
.tool-bar.prop-bar button[type="submit"].btn-filter{height:50%;padding:0 10px;}
.tool-bar.prop-bar button[type="submit"].btn-filter:before{display:none;}
.tool-bar.prop-bar button[type="submit"].btn-filter .icn{display:none;}
.tool-bar.prop-bar button[type="submit"].btn-filter .icn:before{font-size:16px;}
.tool-bar.prop-bar button[type="submit"].btn-filter .icn + .lbl{margin:0;}
.tool-bar.prop-bar button[type="submit"].btn-filter .lbl{display:block;font-size:14px;}

label.lgd + .field{margin-left:5px;}


.field > .t{width:100%;}
.field > .t > .r{}
.field > .t > .r > .c{}
.field > .t > .r > .c + .c{padding-left:5px;}
.field > .t > .r > .c:last-child{text-align:right;}


.btn-bar{margin:20px 0;}
.btn-bar > .t{width:100%;}
.btn-bar > .t > .r{}
.btn-bar > .t > .r > .c{}
.btn-bar > .t > .r > .c:last-child{text-align:right;}



.data-grd{}
.data-grd table{width:100%;border-top:2px solid #999;}
.data-grd table col{}
.data-grd table th,
.data-grd table td{text-align:center;font-size:14px;color:#000;word-break:keep-all;padding:15px 10px;border-bottom:1px solid #ebebeb;}
.data-grd table thead th{}
.data-grd table thead th.th0{font-weight:normal;color:#999;}
.data-grd table tbody th{color:#666;text-align:left;}
.data-grd table tbody td .desc{font-size:12px;font-weight:normal;color:#999;}
.data-grd table tr.empty{}
.data-grd table tr.empty .msg{padding:56px;}
.data-grd table tr.empty .msg p{color:#999;}
.data-grd table td.p0{padding:0;}
.data-grd table td.ph0{padding-left:0;padding-right:0;}
.data-grd table td.pv0{padding-top:0;padding-bottom:0;}
.data-grd .btn-file:hover{background:none;}

/* 게시판 목록 */
.bbs-lst{}
.bbs-lst td{}
.bbs-lst .sbj{display:block;text-align:left;color:#333;}
.bbs-lst .sbj:hover{color:#6a89b8;}
.bbs-lst .icn.channel,
.bbs-lst .icn.imp{font-size:0;color:#6a89b8;}
.bbs-lst .icn.channel{padding:0 2px;}
.bbs-lst .icn.channel.mobile{margin-top:-2px;}
.bbs-lst .icn.channel:before{
	display:inline-block;
	vertical-align:middle;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
}
.bbs-lst .icn.channel.desktop:before{font-size:14px;content:"\f108";}
.bbs-lst .icn.channel.mobile:before{font-size:16px;content:"\f10b";}
.bbs-lst .icn.imp{opacity:.25;}
.bbs-lst .icn.imp:before{
	display:inline-block;
	vertical-align:middle;
	font-family:FontAwesome;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	content:"\f058";
}
.bbs-lst .icn.imp.on{opacity:1;}
.bbs-lst .btn-file .icn{color:#6a89b8;}
.bbs-lst .fromto{display:inline-block;vertical-align:middle;text-align:left;}

/* 관리자 목록 */
.manager-lst{}
.manager-lst .sbj{display:block;text-align:center;font-weight:bold;color:#333;}
.manager-lst .sbj:hover{color:#6a89b8;}

/* 에러 목록 */
.error-lst{}
.error-lst .prg,
.error-lst .msg{display:block;text-align:left;font-weight:normal;padding:0 20px;}
.error-lst .prg{color:#000;transition:all .2s;}
.error-lst .prg:hover{color:#6a89b8;}
.error-lst .msg{color:#999;}

/* 로그 목록 */
.log-lst{}
.log-lst .prg{display:block;text-align:center;font-weight:normal;}

/* 이미지 오류 목록 */
.img-err-lst{}
.img-err-lst .key{display:block;text-align:left;font-weight:normal;padding:0 20px;}

/* 상품 목록 */
.itm-lst{}
.itm-lst .sbj{display:block;text-align:center;font-weight:bold;color:#333;}
.itm-lst .sbj:hover{color:#6a89b8;}
.itm-lst .sbk{display:block;text-align:left;font-size:14px;font-weight:normal;color:#666;}

/* 상담사 목록 */
.counselor-lst{}
.counselor-lst .fig{display:inline-block;vertical-align:middle;width:40px;height:40px;overflow:hidden;border:1px solid #ccc;border-radius:4px;}
.counselor-lst .fig:hover{border-color:#a9a9a9;}
.counselor-lst .fig img{display:block;height:100%;}
.counselor-lst .name,
.counselor-lst .num{display:block;text-align:center;font-weight:bold;color:#333;}
.counselor-lst .name:hover,
.counselor-lst .num:hover{color:#6a89b8;}

/* 약관 목록 */
.term-lst{}
.term-lst .date{display:block;text-align:center;font-weight:bold;color:#333;}
.term-lst .date:hover{color:#6a89b8;}
.term-lst .btn-file .icn{color:#6a89b8;}







/* 관리자 권한설정 */
.data-grd.manager-permission table th,
.data-grd.manager-permission table td{text-align:center;font-size:14px;color:#000;word-break:keep-all;padding:15px 10px;border:1px solid #e3e3e3;}
.data-grd.manager-permission table thead th{padding:5px 10px;background:#f3f3f3;}
.data-grd.manager-permission table tbody th{color:#666;text-align:left;}
.data-grd.manager-permission table tbody td .sbj{display:block;text-align:left;color:#333;}
.data-grd.manager-permission table tbody td .desc{font-size:12px;font-weight:normal;color:#999;}


/* 상세 테이블 기본 */
.tbl-dtl table{width:100%;}
.tbl-dtl table col{width:200px;}
.tbl-dtl table col.td{width:auto;}
.tbl-dtl table th,
.tbl-dtl table td{text-align:left;padding:10px;border:1px solid #e3e3e3;}
.tbl-dtl table td.opt{text-align:center;}
.tbl-dtl table tbody th{width:150px;white-space:nowrap;background:#f3f3f3;}
.tbl-dtl table tbody th .img-meta{margin:10px 0 0 0;padding:5px;border:1px solid #ccc;background:#fff;}
.tbl-dtl table tbody th .img-meta .size{display:block;font-size:12px;font-weight:normal;color:#888;}

.tbl-dtl table tbody tr:first-child th,
.tbl-dtl table tbody tr:first-child td{border-top:1px solid #e3e3e3;}
.tbl-dtl table tbody td .field.db + .field.db{margin-top:10px;}






/* 상세정보 수정/추가 */
.unt-lst{}
.unt-lst > ul{}
.unt-lst > ul > li{}
.unt-lst > ul > li + li{margin-top:20px;}
.unt-lst .tool-bar{margin:0;}
.unt-lst .tool-bar .c{padding:0;}
.unt-lst .tool-bar .btn-unt-del{border-radius:4px 4px 0 0;background-color:#666;}
.unt-lst .tool-bar .btn-unt-del:hover{background-color:#000;}
.unt-lst .tool-bar .btn-unt-del .icn:before{content:"\f00d";}
.unt-lst .tool-bar .btn-unt-new{color:#999;margin-bottom:-1px;padding:0 10px;border:1px solid #666;border-bottom:0;border-radius:4px 4px 0 0;background:#fff;}
.unt-lst .tool-bar .btn-unt-new .icn:before{content:"\f069";}
.unt-lst .unt{}
.unt-lst .unt .trc{border:1px solid #666;}
.unt-lst .unt .trc > .t{width:100%;}
.unt-lst .unt .trc > .t > .r{}
.unt-lst .unt .trc > .t > .r > .c{padding:10px;}
.unt-lst .unt .trc > .t > .r > .c + .c{border-left:1px solid #e3e3e3;}
.unt-lst .unt .trc > .t > .r + .r > .c{border-top:1px solid #e3e3e3;}
.unt-lst .unt .trc > .t > .r > .c.th{width:200px;font-weight:bold;color:#666;}
.unt-lst .unt .trc > .t > .r > .c.td{}



.post-stat-bar{position:relative;margin:0 0 20px 0;border-radius:4px;background:#eee;}
.post-stat-bar > .t{width:100%;}
.post-stat-bar > .t > .r{}
.post-stat-bar > .t > .r > .c{padding:5px 0 8px 0;}
.post-stat-bar > .t > .r > .c:last-child{text-align:right;}
.post-stat-bar dl,
.post-stat-bar dt,
.post-stat-bar dd{display:inline-block;vertical-align:middle;margin:0 5px;}
.post-stat-bar dl{}
.post-stat-bar dt,
.post-stat-bar dd{font-size:13px;}
.post-stat-bar dt{color:#666;}
.post-stat-bar dd{color:#6a8bb8;}


/* 게시판 상세 */
.bbs-dtl{padding:40px;border:1px solid #999;border-radius:4px;}
.bbs-dtl .article{}
.bbs-dtl .article table{width:100%;}
.bbs-dtl .article table col{width:150px;}
.bbs-dtl .article table col.td{width:auto;}
.bbs-dtl .article table th,
.bbs-dtl .article table td{text-align:left;padding:10px;border:1px solid #e3e3e3;}
.bbs-dtl .article table th.tac,
.bbs-dtl .article table td.tac{text-align:center;}
.bbs-dtl .article table td.opt{text-align:center;}
.bbs-dtl .article table tbody th{white-space:nowrap;}
.bbs-dtl .article table tbody tr:first-child th,
.bbs-dtl .article table tbody tr:first-child td{border-top:1px solid #e3e3e3;}
.bbs-dtl .article .field.sbj{display:block;}
.bbs-dtl .article .field.sbj input[type="text"]{display:block;width:100%;}
.bbs-dtl .article .field.cnt{display:block;}
.bbs-dtl .article .field.cnt textarea{display:block;width:100%;height:25em;}
.bbs-dtl .article .text-box{position:relative;min-height:240px;padding:24px 0;}
.bbs-dtl .article .text-box .status-bar{height:0;font-size:0;}
.bbs-dtl .article .text-box p{font-size:15px;color:#333;}
.bbs-dtl .article .text-box.reply{padding-left:12px;}
.bbs-dtl .article .text-box + .btn-bar.mov-pch + .text-box.reply{margin-top:50px;}
.bbs-dtl .article .text-box.reply:before{display:block;position:absolute;left:-32px;top:0;right:-32px;height:1px;font-size:0;background:#000;opacity:.1;content:"";}
.bbs-dtl .article .text-box.reply .status-bar{height:auto;margin-left:-12px;padding:12px 0;}
.bbs-dtl .article .text-box.reply .status-bar .icn{width:6px;height:6px;border-left:2px solid #6a8bb8;border-bottom:2px solid #6a8bb8;}
.bbs-dtl .article .text-box.reply .status-bar .icn + .lbl{margin-left:4px;}
.bbs-dtl .article .text-box.reply .status-bar .lbl{}
.bbs-dtl .article .text-box.reply .status-bar .lbl:after{display:inline-block;vertical-align:middle;font-size:14px; font-weight:bold; color:#6a8bb8;content:"답변";}
.bbs-dtl .article .text-box .info{margin-top:12px;}
.bbs-dtl .article .text-box .info .user-name,
.bbs-dtl .article .text-box .info .date{font-size:14px;color:#999;}

.bbs-dtl .fig.banner{display:inline-block;max-width:705px;vertical-align:middle;}
.bbs-dtl .fig.banner img{max-width:100%;}

.bbs-dtl .article .fig + .url{margin-top:10px;}
.bbs-dtl .article .url{}
.bbs-dtl .article .url input[type="text"]{display:block;width:100%;}
.bbs-dtl .article .url input[type="text"]:read-only{color:#666;background:#f3f3f3;}

/* 에러모니터링 상세 */
.error-dtl{}
.error-dtl table col.th{width:150px;}
.error-dtl table col.td{}
.error-dtl textarea{display:block;width:100%;height:25em;}
.error-dtl textarea:read-only{background:#f6f6f6;}








.ui-file{display:inline-block;position:relative;vertical-align:middle;font-size:0;}
.ui-file > .t{}
.ui-file > .t > .r{}
.ui-file > .t > .r > .c{vertical-align:bottom;}
.ui-file > .t > .r > .c + .c{padding-left:10px;}

.ui-file label input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
.ui-file label,
.ui-file label > .c{height:100%;}
.ui-file label{display:table;}
.ui-file label .c{display:table-cell;position:relative;}

.ui-file *[class*=" btn-file"]{height:24px;font-size:0;color:#888;cursor:pointer;padding:0 10px;border:1px solid #a9a9a9;border-radius:3px;background:none;transition:all .2s;}
.ui-file *[class*=" btn-file"]:hover{color:#333;border-color:#666;background:none;}
.ui-file .btn-file-add .icn:before{content:"\f055";}
.ui-file .btn-file-del .icn:before{content:"\f056";}

.ui-file .doc{display:inline-block;height:24px;vertical-align:middle;color:#666;padding:0 10px;border:1px solid #ccc;border-radius:4px;transition:all .2s;}
.ui-file .doc .icn.type:before{
	display:inline-block;
	vertical-align:middle;
	font-family:FontAwesome;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	color:#a9a9a9;
	-webkit-font-smoothing:antialiased;
	content:"\f15b";
}
.ui-file .doc .icn + .lbl{margin-left:5px;}
.ui-file .doc .lbl{line-height:24px;font-size:13px;}

.ui-file .fig{display:inline-block;min-width:100px;height:100px;vertical-align:middle;border:1px solid #a9a9a9;background:#f3f3f3;}
.ui-file .fig img{display:block;height:100%;}

.file-meta{margin-top:10px;}
.file-meta > .t{width:100%;}
.file-meta > .t > .r{}
.file-meta > .t > .r + .r > .c{padding-top:10px;}
.file-meta > .t > .r > .c{vertical-align:middle;text-align:left;}
.file-meta > .t > .r > .c.th{width:110px;font-size:14px;color:#666;white-space:nowrap;padding-right:10px;}
.file-meta > .t > .r > .c.td{}




/* 관리자 상세 */
.manager-dtl .infos{}
.manager-dtl .info table{width:100%;}
.manager-dtl .info table col.th{}
.manager-dtl .info table col.td{width:486px;}
.manager-dtl .info table th,
.manager-dtl .info table td{text-align:left;padding:10px;border:1px solid #e3e3e3;}
.manager-dtl .info table th.tac,
.manager-dtl .info table td.tac{text-align:center;}
.manager-dtl .info table td.option{text-align:center;}
.manager-dtl .info table tbody th{width:150px;white-space:nowrap;}
.manager-dtl .info table tbody tr:first-child th,
.manager-dtl .info table tbody tr:first-child td{border-top:1px solid #e3e3e3;}


/* 공통코드 관리 */
.ui-code{overflow-x:auto;}
.ui-code .panes{display:table;table-layout:fixed;width:100%;}
.ui-code .pane{display:table-cell;vertical-align:top;}
.ui-code .pane.pane-lst{width:320px;}
.ui-code .pane.pane-dtl{width:640px;padding-left:40px;}
.ui-code .subtitle-bar{margin:0 0 20px 0;}

/* 코드 리스트 */
.code-lst .sbj{display:block;text-align:center;color:#000;}
.code-lst .sbj:hover{color:#6a89b8;}
.code-lst .usages{display:table;width:100%;}
.code-lst .usages dl{display:table-row;}
.code-lst .usages dt,
.code-lst .usages dd{display:table-cell;border-top:1px solid #ebebeb;border-left:1px solid #ebebeb;border-right:1px solid #ebebeb;}
.code-lst .usages dl:first-child dt,
.code-lst .usages dl:first-child dd{border-top:0;}
.code-lst .usages dt{width:40px;border-right:0;}
.code-lst .usages dd{}


/* 콘텐츠 관리 */
.ui-cnt{overflow-x:auto;}
.ui-cnt + .ui-cnt{margin-top:40px;}
.ui-cnt > .t{table-layout:fixed;}
.ui-cnt > .t > .r{}
.ui-cnt > .t > .r > .c{vertical-align:top;}
.ui-cnt .pane{}
.ui-cnt .pane.pane-lst{width:340px;}
.ui-cnt .pane.pane-dtl{width:860px;padding-left:40px;}
.ui-cnt .subtitle-bar{margin:20px 0;}
.ui-cnt .subtitle-bar:first-child{margin-top:0;}




.note-lst{}
.note-lst > ul{}
.note-lst > ul > li{}
.note-lst p{color:#666;}

p.bl-md{position:relative;padding-left:16px;}
p.bl-md:before{display:block;position:absolute;left:4px;top:10px;width:3px;height:3px;font-size:0;border-radius:50%;background:#000;content:"";opacity:.75;}




.ui-accordion{}
.ui-accordion .get-accordion{}
.ui-accordion .get-accordion .icn.angle{transition:all .3s;}
.ui-accordion.accordion-expanded .get-accordion .icn.angle{transform:rotate(180deg);}
.ui-accordion .set-accordion{display:none;}
div.ui-accordion .get-accordion{cursor:default;}





.header{z-index:30;}
.header .section.q1{z-index:32;}
.header .section.q2{z-index:31;}
.main{z-index:10;}
.footer{z-index:20;}












@media all and (min-width:568px) {
	/** initial setup **/
	.nano {
	position : relative;
	width    : 100%;
	height   : 100%;
	overflow : hidden;
	}
	.nano > .nano-content {
	position      : absolute;
	overflow      : scroll;
	overflow-x    : hidden;
	top           : 0;
	right         : 0;
	bottom        : 0;
	left          : 0;
	}
	.nano > .nano-content:focus {
	outline: thin dotted;
	}
	.nano > .nano-content::-webkit-scrollbar {
	display: none;
	}
	.has-scrollbar > .nano-content::-webkit-scrollbar {
	display: block;
	}
	.nano > .nano-pane {
	background : rgba(0,0,0,.05);
	position   : absolute;
	width      : 4px;
	right      : 0;
	top        : 0;
	bottom     : 0;
	visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
	opacity    : .01;
	-webkit-transition    : .2s;
	-moz-transition       : .2s;
	-o-transition         : .2s;
	transition            : .2s;
	-moz-border-radius    : 5px;
	-webkit-border-radius : 5px;
	border-radius         : 2px;
	}
	.nano > .nano-pane > .nano-slider {
	background: #444;
	background: rgba(0,0,0,.25);
	position              : relative;
	margin                : 0;
	-moz-border-radius    : 3px;
	-webkit-border-radius : 3px;
	border-radius         : 3px;
	}
	.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
	visibility : visible\9; /* Target only IE7 and IE8 with this hack */
	opacity    : 0.99;
	}
}



