@charset "utf-8";

@font-face {
	font-family:"Spoqa Han Sans";
	font-style:normal;
	font-weight:normal;
	src:url("../../m/fonts/SpoqaHanSansRegular.woff2") format("woff2"),
		url("../../m/fonts/SpoqaHanSansRegular.woff") format("woff"),
		url("../../m/fonts/SpoqaHanSansRegular.ttf") format("truetype");
}

@font-face {
	font-family:"Spoqa Han Sans";
	font-style:normal;
	font-weight:bold;
	src:url("../../m/fonts/SpoqaHanSansBold.woff2") format("woff2"),
		url("../../m/fonts/SpoqaHanSansBold.woff") format("woff"),
		url("../../m/fonts/SpoqaHanSansBold.ttf") format("truetype");
}
